footer {
  position:absolute;
  bottom:0;
  left:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-top: 10px;
  // padding-bottom: 10px;
  background-color: #5353f3;
  color: white;
  height:55px;
  width:100%;
}
