header {
  display: flex;
  align-items: center;
  // padding: 10px;
  // height: 3rem;
  background-color: #5353f3;

  height:50px;
    width:100%;
    top:0px;
    left:0px;
    // background: #CCCCCC;
    position:absolute;
}

.logo {
  margin: 0;
  margin-left: 25px;
  color: white;
}
